/* src/components/Login.css */

body {
  background-color: #f7f7f7; /* Set a light background color */
  font-family: Arial, sans-serif; /* Use a commonly available font */
}

.login-container {
  max-width: 400px;
  margin: 100px auto; /* Center the login form vertically */
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333; /* Darken the heading text color */
}

.form-group {
  margin-bottom: 20px;
  position: relative; /* Position label relative to input */
}

.form-group label {
  position: absolute; /* Position label absolutely */
  bottom: 100%; /* Place label above input */
  left: 0;
  margin-bottom: 5px;
  color: #555; /* Dim the label text color */
  font-size: 14px;
  transition: all 0.3s ease; /* Add transition for smooth animation */
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none; /* Remove default border */
  border-bottom: 1px solid #ccc; /* Add bottom border */
  border-radius: 0; /* Remove border radius */
  outline: none; /* Remove outline on focus */
}

.form-group input:focus + label,
.form-group input:valid + label {
  bottom: -25px; /* Move label down when input is focused or has content */
  font-size: 12px;
  color: #007bff; /* Change label color when input is focused */
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button[type="submit"] {
  width: calc(50% - 5px);
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

button:hover {
  background-color: #0056b3;
}
.toggle-password {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-password svg {
  width: 24px;
  height: 24px;
  fill: #ccc;
  transition: fill 0.3s ease; /* Add transition for smooth animation */
}

.toggle-password:hover svg {
  fill: #333; /* Change fill color on hover */
}


.error-message {
  color: #ff0000;
  margin-top: 10px;
  text-align: center; /* Center the error message */
}
